<section class="section main">
    <div class="container" style="height: 100%;">
        <div class="row" style="height: 100%;">
            <div class="col-xl-10 offset-xl-1">

                <div class="main__wrapper">
                    <div class="main__item">
                        <div class="main__name">First Current</div>
                        <div class="main__form">
                            <div class="form-group">
                                <input 
                                    type="number"
                                    class="form-control"
                                    placeholder="Введіть сумму"
                                    [(ngModel)]="amountOne"
                                    (keyup)="get_iOneValue()">
                            </div>
                            
                            <select class="form-control" (change)="get_sOneValue($event)">
                                <option *ngFor="let item of currencyArr" [value]="item.current_rate">{{item.current_name}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="main__item">
                        <div class="main__name">Second Current</div>
                        <div class="main__form">
                            <div class="form-group">
                                <input 
                                    type="number"
                                    class="form-control"
                                    placeholder="Введіть сумму"
                                    [(ngModel)]="amountTwo"
                                    (keyup)="get_iTwoValue()">
                            </div>
                            <select class="form-control" (change)="get_sTwoValue($event)">
                                <option *ngFor="let item of currencyArr" [value]="item.current_rate">{{item.current_name}}</option>
                            </select>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>